.pageSection {
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;
}

.card {
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.5);
  height: 9rem;
  width: 24.5rem;
  transition: height 0.75s ease-in-out;
}

.expanded {
  overflow: auto;
  height: 100%;
}
